{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <div id="content">
    <form class="top_indent" action='{% url 'auth:login' %}' method='post'>
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Log-in" />
      <input type="hidden" name="next" value="{% url 'blog:home_page' %}" />
    </form>
  </div>
{% endblock %}
