{% extends 'blog/base.html' %}
{% load static i18n %}

{% block content %}
  <div id="content" class="top_indent">
    <form class="login" action='{% url 'blog:password_change' %}' method='post'>
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Change" />
    </form>
  </div>
{% endblock %}
