{% extends 'blog/base.html' %}
{% load static i18n %}
{% load comments %}

{% block content %}
  <div id="content">
    <form class="top_indent" method="post" action="">
      {% csrf_token %}
      <table>
        <tr>
          <th>
            <label for="id_username">{% trans 'Username:' %}</label>
          </th>
          <td>
            {{ form.username }}
{#            <span class="required_star">*</span>#}
            {% include 'blocks/errors.html' with field=form.username %}
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_email">{% trans 'Email address:' %}</label>
          </th>
          <td>
            {{ form.email }}
{#              <span class="required_star">*</span>#}
            {% include 'blocks/errors.html' with field=form.email %}
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_password1">{% trans 'Enter password:' %}</label>
          </th>
          <td>
            {{ form.password1 }}
{#              <span class="required_star">*</span>#}
            {% include 'blocks/errors.html' with field=form.password1 %}
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_password2">{% trans 'Confirm your password:' %}</label>
          </th>
          <td>
            {{ form.password2 }}
{#              <span class="required_star">*</span>#}
            {% include 'blocks/errors.html' with field=form.password2 %}
          </td>
        </tr>
{#      <table>#}
{#        {{ form }}#}
        <tr>
          <td></td>
          <td>
            <button type="submit" class="button">{% trans 'Sign-in' %}</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}
