/*#display {*/
    /*width: 1160px;*/
    /*height: 70px;*/
/*}*/
#header {
    min-width: 700px;
    min-height: 70px;
    width: auto;
    height: auto;
    background-color: blue;
    position: relative;
    /*top: 0;*/
}
#content {
    padding-left: 20px;
    /*width: 100%;*/
    /*height: 930px;*/
    background-color: gold;
    min-height: 730px;
    min-width: 700px;
    /* Set up proportionate scaling */
    width: auto;
    height: 100%;
    /* Set up positioning */
    position: relative;
    top: -22px;
}

.helptext {
    display: none;
}

.head {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 22px;
}

#main {
    margin-top: 60px;
}

#main_information {
    /*float: right;*/
}

img {
    float: left;
    margin: 7px 50px 7px 25px;
}

img.logo {
    width: 150px;
    margin-top: 20px;
}

.link {
    position: relative;
    top: 24px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    float: right;
    /*margin-left: 40px;*/
    padding-right: 40px;
}

.link.pass {
    float: left;
    font-size: 18px;
}

.note a {
    color: #857314;
    text-decoration: none;
    font-size: 20px;
}

.footer {
    background-color: orange;
    min-height: 70px;
    min-width: 700px;
    width: auto;
    height: auto;
    position: relative;
    margin-top: -28px;
}

.copyright {
    overflow:hidden;
    padding:12px 10px;
    color: indigo;
}

.note_name {
    color: brown;
    padding-top: 30px;
    text-decoration: underline;
}

.note_date {
    color: saddlebrown;
    font-size: 14px;
}

.note_text {
    color: #453308;
    font-size: 20px;
}

.comments {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.all_comments {
    background: #e3ec59;
    padding: 20px;
    overflow: auto;
    width: 70%;
    margin-bottom: 50px;
}

.add_comments {
    padding-top: 20px;
    padding-bottom: 20px;
 }

#comment {
    padding-bottom: 10px;
}

.note_list {
    margin-top: 21px;
}

.header {
    margin-top: 21px;
}

.add_comments th, .register th, .profile th {
    text-align: left;
    font-weight: normal;
}

.button {
    border-radius: 4px;
    font-family: serif;
    font-size: initial;
}

.profile {
    padding-top: 20px;
}

.note_list {
}

.topics {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5e3b06;
}

/*.login {*/
    /*padding-top: 40px;*/
    /*margin-top: 21px;*/
/*}*/

.top_indent {
    padding-top: 40px;
    margin-top: 21px;
}

.autob {
    text-align: center;
}

.error_label {
    display:inline-block;
    *display:inline;
    *zoom:1;
    color: #ff0000;
	font-size: 12px;
    margin:8px 0px 0px 8px;
}

/*.required_star {*/
    /*display:inline-block;*/
    /**display:inline;*/
    /**zoom:1;*/
    /*margin:0px 2px;*/
    /*padding:8px 0px 0px 0px;*/
    /*font-size:12px;*/
    /*color: #ff0000;*/
    /*vertical-align:top;*/
/*}*/
