{% extends 'blog/base.html' %}
{% load static i18n %}

{% block content %}
  <div id="content">
    <form class="top_indent" action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <th>
            <label for="id_name">{% trans 'Subject' %}:</label>
          </th>
          <td>
            {{ form.title }}
            {% include 'blocks/errors.html' with field=form.title %}
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_email">{% trans 'Text' %}:</label>
          </th>
          <td>
            {{ form.text }}
          </td>
        </tr>
        <tr>
          <td>
            <input class="button" type="submit" name="submit" value={% trans 'Save' %}>
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}
