<!DOCTYPE html>
{% load static %}
{% load comments %}
{% load i18n %}
<html>
<head>
<meta charset="utf-8">
  <title>{% trans 'Blog' %}</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
  <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/main.js" %}"></script>
</head>
<body>
  <div id="display">
    <header id="header">
      <a href="{% url 'blog:home_page' %}"><img class="logo" src="{% static 'images/logo.png' %}" /></a>
      {% if user.is_authenticated %}
        <a class="link" href="{% url 'auth:logout' %}?next={% url 'auth:login' %}">{% trans 'Logout' %}</a>
        <a class="link" href="{% url 'blog:profile_page' %}">{% trans 'Profile' %}</a>
        <a class="link" href="{% url 'blog:add_discussions_page' %}">{% trans 'Add post' %}</a>
      {% else %}
        <a class="link" href="{% url 'auth:login' %}">{% trans 'Login' %}</a>
        <a class="link" href="{% url 'blog:registration_page' %}">{% trans 'Registration' %}</a>
      {% endif %}
      <a class="link" href="{% url 'blog:discussions_page' %}">{% trans 'Discussions' %}</a>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="copyright">
	    © 2015-{{ settings.CURRENT_YEAR }} <a href="{% url 'blog:main_page' %}">{% trans 'Rimma Kupriianova' %}</a>
	  </div>
    </footer>
  </div>
</body>
</html>
