{% extends 'blog/base.html' %}
{% load static i18n %}
{% load comments %}
{% load url from future %}

{% block content %}
  <div id="content">
    <div>
      <h1 class="note_name">{{ note.title }}</h1>
      <p class="note_date">{% trans 'Published date' %}: {{ note.pub_date|date:"d.m.Y G:i" }} {% trans 'Author' %}: {{ note.author }}</p>
      <p class="note_text">{{ note.text }}</p>
    </div>
    <div class="all_comments">
      <p class="comments">{% trans 'Comments' %}</p>
      <div class="add_comments">
        {% get_comment_form for note as form %}
        <table>
          {% if user.is_authenticated %}
            <form action="{% comment_form_target %}" method="post">
              {% csrf_token %}
                <tr>
                  <th>
                    <label for="id_name">{% trans 'Username' %}:</label>
                  </th>
                  <td>
                    {{ form.name }}
                  </td>
                </tr>
                <tr>
                  <th>
                    <label for="id_email">{% trans 'Email address' %}:</label>
                  </th>
                  <td>
                    {{ form.email }}
                  </td>
                </tr>
                <tr>
                  <th>
                    <label for="id_comment">{% trans 'Comment' %}:</label>
                  </th>
                  <td>
                    {{ form.comment }}
                  </td>
                </tr>
              <tr>
                <td style="display: none">
                  {{ form.honeypot }}
                  {{ form.content_type }}
                  {{ form.object_pk }}
                  {{ form.timestamp }}
                  {{ form.security_hash }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input class="button" type="submit" name="submit" value={% trans '' %}"Add comment">
                  <input type="hidden" name="next" value="{% url 'blog:detail_discussions' note.id %}" />
                </td>
              </tr>
            </form>
          {% endif %}
        </table>
      </div>
      {% get_comment_list for note as comment_list %}
      <table class="table">
        {% for comment in comment_list|dictsortreversed:"submit_date" %}
          <tr>
            <td rowspan="2">
              <img src="{% static 'images/avatar.jpg' %}" />
            </td>
            <td class="old_comment">
             {{ comment.submit_date|date:"d.m.Y G:i" }} {{ comment.name }}
            </td>
          </tr>
          <tr>
            <td id="comment">
              {{ comment.comment }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
