{% extends 'blog/base.html' %}
{% load static i18n %}

{% block content %}
  <div id="content">
    <p class="topics">{% trans 'Topics for discussions' %}</p>
    {% if latest_theme_list %}
      <ul class="note_list">
        {% for note in latest_theme_list %}
            <li class="note"><a href="{{ note.get_absolute_url }}">{{ note.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No notes are available.</p>
    {% endif %}
  </div>
{% endblock %}
