{% extends 'blog/base.html' %}
{% load static i18n %}

{% block content %}
  <div id="content">
    <div class="head">{% trans 'Welcome to the blog about programming' %}</div>
{#    <div id="main">#}
{#    </div>#}
  </div>
{% endblock %}
