{% extends 'blog/base.html' %}
{% load static i18n %}

{% block content %}
  <div id="content">
    <div class="head">{% trans 'Main information about me' %}</div>
    <div id="main">
      <img src="{% static 'images/me.png' %}" width="200px" height="272px"/>
        <h1 class="autob">{% trans 'My autobiography' %}</h1>
        <p>
          I was born at 20 January 1989. Now I'm 26 years. I was educated
          in Kharkov Institute of Finance in 2011. My specialty according to
          Diploma is the financier.  After education I went to work in the Department
          of the Kharkov City Council. But having worked there not a long time, I quited.
        </p>
        <p>
          I didn't like my job and decided to change the scope of the activities.
          This helped me <a href="https://ua.linkedin.com/in/serhii-k-02231b64"> my brother</a>.
          And in 2014 I met first with HTML and then with javascript. My first
          experience in the programming was bubble game ans then online game(slot machines).
        </p>
        <p>
          Then I was lucky and I began to work in a broker company.
          I worked there from March 2015 to November 2015. I have implemented a new
          functionality with Django's templates, edited the existing code and added the
          styles and JS, worked with MySQL, with version control system Git. And now I am in search of work.
          I have experience with DjangoCMS, javascript, CCS, HTML, PostgreSQL and MySQL.
        </p>
        <p>

        </p>


{#      <p><b>{% trans 'Last Name First Name:' %}</b> <span>{% trans 'Kupriianova Rimma' %}</span></p>#}
{#      <p><b>{% trans 'Date of Birth:' %}</b> <span>{% trans '20 January 1989 Year' %}</span></p>#}
{#      <p><b>{% trans 'Country:' %}</b> <span>{% trans 'Ukraine' %}</span></p>#}
{#      <p><b>{% trans 'City:' %}</b> <span>{% trans 'Kharkov' %}</span></p>#}
{#      <p><b>{% trans 'Contacts:' %}</b></p>#}
      <p>Skype: ssoffitt; email: asiwija@gmail.com</p>
    </div>
  </div>
{% endblock %}
