{% extends 'blog/base.html' %}
{% load static i18n %}

{% block content %}
  <div id="content" class="header">
    <table class="profile">
      <tr>
        <th>
          <label for="id_username">{% trans 'Username' %}:</label>
        </th>
        <td>
          {{ user.username }}
        </td>
      </tr>
      <tr>
        <th>
          <label for="id_email">{% trans 'Email address' %}:</label>
        </th>
        <td>
          {{ user.email }}
        </td>
      </tr>
      <tr>
        <th>
          <label for="id_date_joined">{% trans 'Registration date' %}:</label>
        </th>
        <td>
          {{ user.date_joined|date:"d.m.Y" }}
        </td>
      </tr>
      <tr>
        <th>
          <label for="id_last_login">{% trans 'Last login' %}:</label>
        </th>
        <td>
          {{ user.last_login|date:"d.m.Y" }}
        </td>
      </tr>
    </table>
    <a href="{% url 'blog:password_change' %}" class="link pass">{% trans 'Change password' %}</a>
  </div>
{% endblock %}
